<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--The title of the application.-->
    <add key="title" value="Report Viewer- Factbook" />
    <!--The icon of the application. If not specified, will show HSRG logo.-->
    <add key="Icon" value="" />
    <!--The report that will be shown when the app opens.-->
    <add key="Default Report" value="Report1.rdlc" />
    <!--Only put True or False. If True, the factbook option will be checked by default.-->
    <add key="Factbook Default" value="True" />
    <!--If values specified, will login with user and password for database connection.-->
    <add key="user" value="ReportAppUser" />
    <add key="pwd" value="R3p0rt@ppu53r" />
  </appSettings>
  
</configuration>